<!DOCTYPE html>
<html ng-app="todo_list">
<head>
  <title>TodoList</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= csrf_meta_tags %>
</head>
<body ng-controller="MainCtrl">
<%= yield %>
</body>
</html>
