<!DOCTYPE html>
<html ng-app="todo_list">
<head>
  <title>TodoList</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= csrf_meta_tags %>
</head>

<body ng-controller="MainCtrl">
  <div class="container">
    <div class="header">
      <%= image_tag "logo", class: "logo" %>
      <span class="slogan">To-do List Online</span>
      <% if user_signed_in? %>
        <%= link_to "注销用户", destroy_user_session_path, method: "delete", class: "logout" %>
      <% end %>
    </div>
    <%= yield %>
  </div>
</body>
</html>
